__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

# Данные и результаты могут быть большими и воспроизводятся локально
data/raw/*
data/processed/*
outputs/*

# Сохраняем папки в структуре проекта
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/.gitkeep
